body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #0f172a, #1e293b);
  color: white;
  text-align: center;
}

/* NAVBAR */
nav {
  background: #020617;
  padding: 15px;
}

nav a {
  margin: 15px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
}

nav a.active {
  color: #38bdf8;
}

/* PAGE CONTENT */
div {
  margin-top: 30px;
}

/* PROJECT CARDS */
div > div {
  background: #1e293b;
  padding: 15px;
  margin: 20px auto;
  width: 60%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

/* LINKS */
a {
  color: #38bdf8;
}